<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/profile.css"> 
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src="//connect.soundcloud.com/sdk.js"></script>
  	<script type="text/javascript" src="/js/app.js"></script>
	<title>Project Two</title>
</head>
<body>

<header class= "show_header ">
	<nav>
	<ul>
		<li><img src="<%= user.img%>"></li>
		<li><h1> <%= user.username %> </h1></li>
		</ul>

    <ul class="nav_links">
     <!-- Build an edit function and route -->
    <li><a class="edit_button" href="<%= user.id %>/edit">   Edit Your Profile <%= user.name %> </a></li>
    <!-- Logout/Redirect to Home page -->
		<li><a href="/users/logout"><p>Logout</p></a></li>
	</ul>
  </nav>
  
</header>

<main>

<br>	

<div class= "new_info">
    <ul>
    	<li><h4>Instruments: <%=user.instruments%> </h4></li><br>
    	<li><h4>SoundCloud: <%=user.soundcloud%></h4> </li><br>
    	<li><h4>Genre: <%=user.genre%> </h4></li><br>
      <li><h4>Looking for: <%=user.looking%> </h4></li><br>
      <li><h4>Bio: <%=user.bio%> </h4></li>
    </ul>
</div>
<br>
 
<br><br>

<div class="container">  
<!-- list from SoundCloud of music genres -->
<!-- <ul id="results"> -->

<!-- Pops open soundcloud login window. -->
  <a href="#" class="connect">Connect with SoundCloud</a>
 <!--  <p>Hello, your name is <span id="username"></span></p> -->

<!-- Sound cloud player widget -->

 <div class="player" id="player"> </div> 

 
</div>

  <div class='members_container'>
    <ul>
      <% for (var i = 0; i < users.length; i++){ %>
        <li>
          <a href="/users/<%=users[i]._id%>"><%=users[i].username%></a> </li>
      <% } %>
    </ul>
  

     
                  
  </div>

 <!-- Comments Section -->
 <div class="comments_flex">
<div class= "comments_section">
  <h4>Leave me a message:</h4>
  <form action="/users/<%=user.id%>/comments" method="POST">
    <input type="text" name="name" placeholder="name"><br><br>
   
    <textarea class="comments" name="comments" rows="15" cols="50" placeholder="Comments"></textarea><br/>
 
    <button id= "comments_submit_button" type="submit">Submit</button><br>
  </form>
</div>

  <div class= "comments_results">
  <!-- comments from above form go here -->

  <h4>Comments:</h4>
  <% for(var i = 0; i < user.comments.length; i ++) { %>
    <ul>
      <li><%=user.comments[i].name%> </li><br>
      <!-- <li><h4>Profile:</h4> </li> -->
      <li><%=user.comments[i].comments%> </li>
    <hr>
    </ul>
<% } %>
  </div>
</div><!--  ends comments -->

<br><br>

</main>
<br><br>
<footer>
  <hr>
   <div class=''>
<form action="/users/<%=user.id%>/index" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button class="delete_button">Delete My Account</button>
  </form>
  </div>
</footer>
</body>
</html>

<!-- <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
  </head>
  <body onload="window.setTimeout(window.opener.SC.connectCallback, 1)">
    <b style="text-align: center;">This popup should automatically close in a few seconds</b>
  </body>
</html> -->



