<!DOCTYPE html>
<html>
	<% include ../partials/head %>
<body>

<header class= "show_header">
	<nav>
	<ul>
		<li><img src="<%= user.img%>"></li>
		<li><h1> <%= user.username %>'s Profile </h1></li>
		<li><a href="/users/logout"><p>Logout</p></a></li>
	</ul>

</header>

<main>
<!-- Logout link -->


	<h4>Tell Us About Yourself</h4>
<!-- Needs to be in a serperate router from sign up form -->
<div class="info_container">
		<form action="/users/<%=user.id%>" method="POST"> 
			<input type="text" name="img" placeholder="img url"><br>
			<input type="text" name="instruments" placeholder="instruments"><br>
			<input type="text" name="soundcloud" placeholder="SoundCloud Profile"><br>
			<input type="text" name="twitter" placeholder="Twitter Profile"><br>
			<input type="text" name="facebook" placeholder="Facebook Profile"><br><br>
			<input type="hidden" name="_method" value="POST"/>
			 <textarea class="bio" name="bio" rows="15" cols="50" placeholder="Bio"></textarea><br/>
			<input type="submit"><br>
		</form>
</div>
<br>	
		 	<h4>This is the new info:</h4>
       <ul>
      	<li> <%=user.instruments%> </li>
      	<li> <%=user.soundcloud%> </li>
      	<li> <%=user.facebook%> </li>
        <li> <%=user.twitter%> </li>
        <li> <%=user.bio%> </li>
    </ul>

 <hr>
<!-- list from SoundCloud of music genres -->
<!-- <ul id="results"> -->

<!-- Pops open soundcloud login window. -->
<a href="#" class="connect">Connect with SoundCloud</a>
  <p>Hello, your name is <span id="username"></span></p>

<!-- Sound cloud player widget -->
  <div class="player" id="player"> </div> 

  <!-- Delete Button -->
	<form action="/users/<%=user.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button id="delete-button">Delete My Account</button>
</form>
</main>

<% include ../partials/footer %>
</body>
</html>

<!-- <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
  </head>
  <body onload="window.setTimeout(window.opener.SC.connectCallback, 1)">
    <b style="text-align: center;">This popup should automatically close in a few seconds</b>
  </body>
</html> -->