<!DOCTYPE html>
<html>
	<% include ../partials/head %>
<body>

<header class= "show_header">
	<nav>
	<ul>
		<li><img src="<%= user.img%>"></li>
		<li><h1> <%= user.username %>'s Profile </h1></li>
		<li><a href="/users/logout"><p>Logout</p></a></li>
	</ul>

</header>

<main>

<h2>EXISTING USERS GO HERE ON LOGIN AND NEW USERS GO HERE AFTER FILLING OUT FORM FROM USERS/INDEX.EJS PAGE</h2>
<!-- Logout link -->

<!-- Move this to users/index page -->
	<!-- <h4>Tell Us About Yourself</h4> -->
<!-- Needs to be in a serperate router from sign up form -->
<!-- <div class="info_container" id= "info_container">
		<form action="/users/<%=user.id%>" method="POST"> 
			<input type="text" name="img" placeholder="img url"><br>
			<input type="text" name="instruments" placeholder="instruments"><br>
			<input type="text" name="soundcloud" placeholder="SoundCloud Profile"><br>
			<input type="text" name="twitter" placeholder="Twitter Profile"><br>
			<input type="text" name="facebook" placeholder="Facebook Profile"><br><br>
			<input type="hidden" name="_method" value="POST"/>
			 <textarea class="bio" name="bio" rows="15" cols="50" placeholder="Bio"></textarea><br/>
			<button id= "submit_button" type="submit">Submit</button><br>
		</form>
</div>
<br>	 -->

<div class= "new_info">
		 	<h4>This is the new info:</h4>
       <ul>
      	<li><h4>Instruments:</h4> <%=user.instruments%> </li>
      	<li><h4>SoundCloud:</h4> <%=user.soundcloud%> </li>
      	<li><h4>Facebook</h4> <%=user.facebook%> </li>
        <li><h4>Twitter</h4> <%=user.twitter%> </li>
        <li><h4>Bio:</h4> <%=user.bio%> </li>
    </ul>

</div>

 <hr>
<!-- list from SoundCloud of music genres -->
<!-- <ul id="results"> -->

<!-- Pops open soundcloud login window. -->
<a href="#" class="connect">Connect with SoundCloud</a>
  <p>Hello, your name is <span id="username"></span></p>

<!-- Sound cloud player widget -->
  <div class="player" id="player"> </div> 

  <!-- Delete Button -->
	<form action="/users/<%=user.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button id="delete-button">Delete My Account</button>
</form>
</main>

<% include ../partials/footer %>
</body>
</html>

<!-- <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
  </head>
  <body onload="window.setTimeout(window.opener.SC.connectCallback, 1)">
    <b style="text-align: center;">This popup should automatically close in a few seconds</b>
  </body>
</html> -->